.card {
  max-height: 500px;
  min-height: 150px;
  max-width: 500px;
  min-width: 100px;
  font-size: small;
}

.card > h2 {
  /* height: 5rem; */
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding: 0.5rem;
  height: fit-content;
}

.card > img {
  height: fit-content;
  width: fit-content;
}

.card > p {
  max-height: 500px;
  font-size: medium;
  margin: 0;
}

.container {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
}
