.container {
  display: flex;
  flex-flow: wrap row;
  gap: 1em;
}

.thumbnail {
  width: 10%;
  height: auto;
}

#navbar {
  background-color: skyblue;
  width: 100vw;
  height: 8vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
}

h5 {
  color: #000;
  display: inline-block;
  position: relative;
  font-size: 1.2rem;
  z-index: 2;
}

h5::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 20px;
  opacity: 0.5;
  bottom: 0;
  left: 0;
  background-color: rgb(59 196 139);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

h5:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
